body {
  background: $midnight;
  font-family: $tksofiapro;

  &.so-checkout-page {
    background: $white;
  }

  &.cartopen {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: $tksofiapro;
  font-weight: normal;
  margin: 0px;
}

.table {
  .product-image {
    width: 100px;

    img {
      max-width: 100%;
    }
  }
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;

  input {
    + label {
      font-size: 14px;
      line-height: 20px;
      color: #555555;
      transition: ease-in-out 0.3s;
      margin: 0;
      z-index: 0;
      position: relative;
      width: 100%;
      display: block;

      &:focus {
        outline: none;
      }
    }

    &:focus {
      outline: none !important;
    }

    &::-webkit-input-placeholder {
      opacity: 0;
    }

    &:-ms-input-placeholder {
      opacity: 0;
    }

    &::placeholder {
      opacity: 0;
    }

    &:placeholder-shown + label {
      cursor: text;
      max-width: 66.66%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position: absolute;
      top: 20px;
      left: 2px;
    }

    &:focus + label,
    &:not(:placeholder-shown) + label {
      top: 0px;
      left: 2px;
      cursor: pointer;
      position: absolute;
      font-size: 12px;
    }
  }

  + .input-div {
    margin-top: 36px;
  }
}

.autocomplete-dropdown-container {
  color: #000;

  .suggestion-item {
    padding: 5px 10px;
    color: #000;
    line-height: 1.2;
  }
  .suggestion-item--active{
    color:#555555
  }
}
