@tailwind preflight;
@tailwind utilities;
@tailwind components;
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://use.typekit.net/lam5mga.css');
@import "./variable.scss";
@import "./global.scss";
@import "./button.scss";
@import "./header.scss";

@import "./homepage/goodbye.scss";
@import "./homepage/quizpage.scss";
@import "./homepage/homeservice.scss";
@import "./homepage/secretingredient.scss";
@import "./homepage/homehelpSlider.scss";
@import "./homepage/blanketImages.scss";
@import "./homepage/MagicWeightex.scss";
@import "./homepage/BlanketDifference.scss";
@import "./homepage/CustomerReview.scss";

@import "./Product-Details/product-service.scss";
@import "./Product-Details/product-name.scss";
@import "./Product-Details/product-review.scss";
@import "./Product-Details/product-details.scss";
@import "./Product-Details/free-delivery.scss";
@import "./Product-Details/product-variation.scss";
@import "./Product-Details/product-tabs.scss";
@import "./Product-Details/help-slider.scss";
@import "./Product-Details/product-gallery.scss";
@import "./Product-Details/FAQ.scss";
@import "./Product-Details/featureSlider.scss";
@import "./modal.scss";

@import "./quiz/main.scss";
@import "./quiz/questionSlide.scss";
@import "./quiz/answerCard.scss";

.visible {
  display: block;
}
.ReactModal__Overlay{
  z-index:9999
}

.hidden {
  display: none;
}

.submit_btn {
	.btn-outline-secondary {
		color: #5b2761;
		background-color: transparent;
		background-image: none;
		border: solid 1px #5b2761;
		border-radius: 0;
		&:hover {
			background: #5b2761;
			color: #fff;
		}
	}
}

.cart_second.purple pre {color: #fff;}

/* Stripe */

.StripeElement {
  @apply bg-white border border-black px-4 py-3 leading-tight rounded-none;
}

.StripeElement:hover {
  @apply border-grey;
}

.custom_cart {
	width: 100%;
	background: #071A35;
	padding: 0px;
  display: flex;

  @media (max-width:$ipadportrait) {
    width: 80%;
    margin: 100px auto 30px;
    position: relative;
  }

  @media (max-width:$mobileportrait) {
    width: 100%;
  }

	h2 {
		font-size: 18px;
		color: #6e6e6e;
		text-align: center;
		text-transform: uppercase;
		margin: 0;
		padding: 20px 0;
    border: 0;

    &.leading-loose {

      @media (max-width:$ipadportrait) {
        position: absolute;
        left: 0;
        width: 33.33%;
        top: -80px;
        background: rgb(234, 234, 238);
        padding: 16px 0 !important;
        margin: 0px !important;
        min-height: 80px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border-left: solid 1px #5b2761;
      }

      @media (max-width:$mobileportrait) {
        padding: 10px 0 !important;
      }

    }

		span {
			border: 1px solid #6e6e6e;
			width: 24px;
			height: 24px;
			border-radius: 50%;
			display: block;
			margin: 0 auto;
			text-align: center;
			line-height: 22px;
      font-size: 14px;

      &.text {
        width: 100%;
        height: auto;
        display: block;
        border: 0;
        border-radius: 0;
        margin: 10px 0 0 0;
        line-height: 1;
        font-size: 18px;
        text-transform: capitalize;
        font-weight:700;

        @media (max-width:$ipadportrait) {
          font-size: 14px;
        }

        @media (max-width:$mobileportrait) {
          padding: 0 8px;
          margin-top:5px;
        }

      }

    }

  }

}

.cart_first, .cart_second, .cart_third {
	flex: 0 0 33.33%;
	max-width: 33.33%;
	padding: 20px 50px 25px;
	height: calc(100vh - 60px);
	overflow: auto;
  position: relative;

  @media (max-width:$ipadlandscape) {
    padding: 20px;
  }

  @media (max-width:$ipadportrait) {
    height: calc(100vh - 160px);
    flex: 0 0 100%;
    max-width: 100%;
    position: absolute;
    left: 0px;
    top: 0;
    right: 0;
    overflow: visible;
  }

  @media (max-width:$mobilelandscape) {
    height: calc(100vh - 0px);
  }

  @media (max-width:$mobileportrait) {
    height: calc(100vh - 160px);
  }

}

.cart_first {

  h2.leading-loose {

    @media (max-width:$ipadportrait) {
      left: 0;
      border-left: 0;
      opacity: 0.3;
    }

  }

  &.purple {

    h2.leading-loose {
      color:$white;

      @media (max-width:$ipadportrait) {
        opacity: 1;
      }

    }

  }

}

.cart_second {

  h2.leading-loose {

    @media (max-width:$ipadportrait) {
      left: 33.33%;
      opacity: 0.3;
    }

  }

  &.purple {

    h2.leading-loose {
      color:$white;

      @media (max-width:$ipadportrait) {
        opacity: 1;
      }

    }

  }

}

.cart_third {

  h2.leading-loose {

    @media (max-width:$ipadportrait) {
      right: 0;
      left: auto;
      opacity: 0.3;
    }

  }

  &.purple {

    h2.leading-loose {
      color:$white;


      @media (max-width:$ipadportrait) {
        opacity: 1;
      }

    }

  }

}

.cart_third {
  padding: 20px 25px 25px;

  @media (max-width:$ipadlandscape) {
    padding: 20px;
  }

	.total-page {
		width: 100%;
  }

}
.cart_first.purple, .cart_second.purple, .cart_third.purple {
	background: $bluezodiac;
  color: $white;

  @media (max-width:$ipadportrait) {
    z-index: 9;
  }
}

.cart_first {
  padding: 0 0 25px;

	.shipping-boxs {
		height: calc(100vh - 19vh);
		overflow-y: auto;
		overflow-x: hidden;
    padding: 20px 50px 0;

    @media (max-width:$ipadlandscape) {
      padding: 20px 20px 0;
    }

    @media (max-width:$ipadportrait) {
      overflow-y: visible;
    }

    @media (max-width:$mobilelandscape) {
      height: calc(100vh - 24vh);
    }

    @media (max-width:$mobileportrait) {
      height: calc(100vh - 34vh);
    }

  }

	input {
		font-size: 14px;
		font-weight: 400;
		-webkit-appearance: none;
		height: 60px;
		box-sizing: border-box;
		width: 100%;
		position: relative;
		border-radius: 2px;
		outline: 0px;
		transition: all 300ms ease 0s;
		color: #333;
		border: 2px solid transparent;
  }

	label {
		display: none;
  }

}

.frm_grp {
  margin-bottom: 20px;

	select {
		font-size: 14px;
		font-weight: 400;
		height: 60px;
		box-sizing: border-box;
		width: 100%;
		position: relative;
		border-radius: 2px;
		outline: 0px;
		transition: all 300ms ease 0s;
		color: #333;
		border: 2px solid transparent;
  }

}

.frm_half {
	padding: 0 10px;
	margin: 0 -10px;
  margin-bottom: 20px;

	& > div {
		margin: 0;
  }

}

.submit_btn {
	padding: 0px;
	position: absolute;
	left: 50px;
	bottom: 25px;
  right: 50px;

  @media (max-width:$ipadlandscape) {
    left: 20px;
    bottom: 20px;
    right: 20px;
  }

	button {
		background-color: $madang;
		width: 100%;
		height: 60px;
		color: $midnight;
		font-size: 20px;
    font-weight:700;
    border:none;
    text-transform: capitalize;;

  }

}

.cost_option {

	p {
		font-size: 16px;
		margin-top: 10px;
		text-align: right;
  }

	select {
		font-size: 14px;
		font-weight: 400;
		height: 60px;
		box-sizing: border-box;
		width: 100%;
		position: relative;
		border-radius: 2px;
		outline: 0px;
		transition: all 300ms ease 0s;
		color: #333;
		border: 2px solid transparent;
  }

}

.cstm_item_info {
	border: 0;
	background: #fff;
	margin-top: 10px;
	padding: 10px 10px;
}

.add_code_cstm {
  margin-top: 20px;

	& > form {

		button {
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			margin: 0;
			background: #131313;
    }

		& > div {
			position: relative;
			display: flex;
			flex-wrap: wrap;
      padding-right: 102px;

			& > div {
				width: 100%;
      }

    }

		label {
			display: none;
    }

		input {
			font-size: 14px;
			font-weight: 400;
			-webkit-appearance: none;
			height: 60px;
			box-sizing: border-box;
			position: relative;
			border-radius: 2px;
			outline: 0px;
			transition: all 300ms ease 0s;
			color: #333;
			border: 2px solid transparent;
			width: 100%;
    }

  }

	form {
		width: 100%;
  }

}
.btn_confirm {

	button {
		background-color: #131313;
		width: 100%;
		height: 60px;
		color: #fff;
		font-size: 16px;
		text-transform: uppercase;
  }

}
.so-checkout-page {

	.container {
		max-width: 100%;
  }

	.header-checkout {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		height: 60px;
    position: relative;

		.backcart-btn {
			position: absolute;
			left: 50px;
			top: 50%;
			transform: translateY(-50%);
			font-size: 20px;
			color: $white;
			text-decoration: none;
			line-height: 1;
      font-weight: bold;

      @media (max-width:$mobileportrait) {
          left: 10px;
      }

			svg {
				margin-right: 10px;

      }

    }

  }

}

.total-page {
	margin: auto 0 auto auto;
	padding: 8px;
	width: 500px;
	display: -webkit-flex;
	-webkit-justify-content: center;
	display: flex;
	justify-content: space-between;
}

.form-disable {
  opacity: 0.15;

  @media (max-width:$ipadportrait) {
    opacity: 1;
  }

}

.orderconfimatio-main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  .address-main {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    .boxs {
      width: 25%;
      text-align: left;
      padding: 0 15px;

      &.yourproduct-main {
        width: 50%;
      }
    }
  }

  .continue-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    margin-top: 30px;
  }
}

.revieworder-box {
  display: flex;
  flex-wrap: wrap;
  border-bottom: solid 1px rgb(226, 216, 228);
  padding: 15px 0;

  .product-image {
    display: flex;
    flex-wrap: wrap;
    width: 70px;

    img {
      max-width: 100%;
      display: block;
    }
  }

  .content {
    width: calc(100% - 70px - 60px);
    padding: 0 15px;

    h5 {
      display: block;
      font-size: 16px;
      color:$white;
      margin: 0 0 5px;
    }

    .qty-text {
      display: block;
      font-size: 14px;
      color: $white;
      margin: 0;
    }
  }

  .price {
    width: 60px;
    font-size: 14px;
    color: $white;
    text-align: right;
  }
}

.checkout-footer {
  position: relative;

  .total-list {
    position: relative;
    display: block;

    ul {
      display: block;
      margin: 10px 0 0 0;
      padding: 0;
      list-style: none;

      li {
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
        color: $white;
        padding: 10px 0;

        &:last-child {
          border-top: solid 1px rgb(226, 216, 228);
        }

      }

    }

  }

}
