/* font */
$tksofiapro: "sofia-pro",sans-serif;
$tkpoynteroldstyletext: "poynter-oldstyle-text",serif;
$tkitcavantgardegothicpro: "itc-avant-garde-gothic-pro",sans-serif;

/* Color */
$white: #fff;
$black: #000;
$midnight: #01122C;
$apricotpeach:#F9BEBD;
$bluezodiac: #0D223E;
$perano: #ACC7F0;
$violet: #1A0E40;
$azalea: #F7D3D5;
$madang: #ACF0B5;
$midnight: #01122B;
$lightBlue: #a6daf0;
$ligtPurple:#CBACF0;
/* Size */
$FontSize16: 16px;
$FontSize17: 17px;
$FontSize18: 18px;
$FontSize19: 19px;
$FontSize20: 20px;
$FontSize21: 21px;
$FontSize22: 22px;
$FontSize23: 23px;
$FontSize24: 24px;
$FontSize25: 25px;
$FontSize26: 26px;
$FontSize27: 27px;
$FontSize28: 28px;
$FontSize29: 29px;
$FontSize30: 30px;

/* @media query width */

$desktop18: 1600px;
$desktophidpi: 1440px;
$desktopmdpi: 1280px;
$ipadlandscape: 1199px;
$ipadportrait: 1023px;
$mobilelandscape: 767px;
$mobileportrait: 567px;
