.secretingredient-boxs {
    display: block;
    padding: 200px 0;

    @media (max-width:$desktop18) {
        padding: 100px 0px;
    }

    h4 {
        font-size: 60px;
        color: $bridalheath;
        font-weight: 900;
        margin: 0 0 20px;

        @media (max-width:$desktop18) {
            font-size: 50px;
        }
    }

    p {
        font-size: 34px;
        color: $white;
        line-height: 37px;
        margin: 0 0 35px;

        @media (max-width:$desktop18) {
            font-size: 28px;
            line-height: 34px;
        }
    }

}
