.accordion > .card{
    border:none;
    background-color: #0D223E;
  .card-header{
    background-color: #0D223E;
    border-bottom: 2px solid rgba(255,255,255,0.3);
    font-weight:600;
  }
  .card-body{
    background-color:#37647E;
  }
}
