.product-service{
    display: flex;
    flex-wrap: wrap;
    border-bottom: solid 2px rgba($white, 0.3);
    padding: 0px 0;


    .service-boxs {
        width: 33.333%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 20px 0;
        align-content: center;
        justify-content: center;
        border-left: solid 2px rgba(255,255,255,0.3);

        &:first-child{
          border:none !important
        }

        img {
            height: 50px;
            max-width: 100%;
        }

        p {
            margin: 0 0 0 20px;
            font-size: $FontSize24;
            color: $white;
            font-weight: 700;
        }

    }

}
