.product-name {
    display: flex;
    flex-wrap: wrap;
    border-bottom: solid 2px rgba($white, 0.3);
    padding: 20px 0;
    position: relative;
    z-index: 2;

    h1 {
        margin: 0px;
        font-size: 130px;
        color: $lightBlue;
        font-weight: 900;
        width: 58%;
        line-height: 1;
        margin-bottom:0.2em;
    }

    p {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        font-size: $FontSize25;
        color: $white;
        font-weight: 500;
        padding: 0 20px 0 0;

        img {
            margin-left:20px;
        }

    }

}
