.overviewhelp-bg {
    display: block;
    position: relative;
    background: #01122c;
    background: -moz-linear-gradient(top,  #01122c 0%, #1b0e41 50%, #01122c 100%);
    background: -webkit-linear-gradient(top,  #01122c 0%,#1b0e41 50%,#01122c 100%);
    background: linear-gradient(to bottom,  #01122c 0%,#1b0e41 50%,#01122c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01122c', endColorstr='#01122c',GradientType=0 );
    background-size: auto 200%;
}

.product-tabs {
    display: block;
    position: relative;
    margin: 30px 0;

    .nav.nav-tabs {
        border: solid 2px rgba($white, 0.3);
        margin-bottom: 30px;

        li {
            width: 20%;
            margin: 0 0 -2px;
            border-right: solid 2px rgba($white, 0.3);

            &:last-child {
                border-right: 0;
            }

            a {
                text-align: center;
                padding: 30px 0;
                font-size: $FontSize30;
                color: $white;
                font-weight: 700;
                border: 0;
                border-bottom: solid 2px transparent;
                border-radius: 0;
                line-height: 1;
                cursor: pointer;

                &.active {
                    background: none;
                    border-bottom-color: $madang;
                }

            }

        }

    }

    .tab-content {

        .tab-pane {
            font-size: 34px;
            color: $white;
            line-height: 1.2;

            h3 {
                display: block;
                font-size: 60px;
                color: $white;
                margin: 0 0 20px 0;
                font-weight: 900;
            }

            p {
                display: block;
                font-size: 34px;
                color: $white;
                line-height: 1.2;
                margin: 0;
            }

            ul {
                padding: 0;
                margin: 0;

                li {
                    font-size: $FontSize28;
                    color: $white;
                    font-weight: 700;
                }

            }

        }

    }

}
