.AnswerBlock{
  display:flex;
  flex:1;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  align-items:center;
  padding-left:40px;
  transition:all 0.3s;
  cursor:pointer;
  transition:all 0.3s;


  &:hover{
    background:#010813;
  }
  h5{
    font-weight: 900;
    line-height: 1em;
    font-size:5em;
    height: 1.3em;
    padding-right:30px;
    color:#F9BEBD;
  }
  p{
    font-size:2em;

  }
}
